<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title">
        <script src="/Content/js/jquery-3.1.1.js" charset="utf-8"></script>
        <script src="/Content/js/scripts.js" charset="utf-8"></script>
        <title>Band Tracker</title>
    </head>

    <body>
      <div class="header row">
        <h2>Band Tracker</h2>
      </div>




        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
