@{
  Layout = "Shared/_Layout.cshtml";
}
<h3>@Model["venue"].GetName() Band List</h3>

@foreach(var band in Model["bands"])
{
  <li>
    <h5>Band Name: <a href="/band/@band.GetId()"> @band.GetName()</a></h5>

    <form action="/band/edit/@band.GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    </form>
    <form action="/band/delete/@band.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">

    </form>


  </li>
}
<h3>New Band</h3>
<form action="/venue/@Model["venue"].GetId()/band/new" method="post">
    <input type="text" name="band-name" placeholder="Band Name">

    <button type="submit" class="waves-effect waves-light btn" name="button">Add Band</button>
</form>

<a href="/" class="waves-effect waves-light btn">Home</a>
