@{
  Layout = "Shared/_Layout.cshtml";
}
<h3>Venues</h3>
    @foreach (var venue in Model)
    {
        <li>
          <h3><a href="venue/@venue.GetId()">@venue.GetName()</a></h3>
          <form action="/venue/edit/@venue.GetId()" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <input type="text" name="venue-name" placeholder="Venue Name">
          <button type="submit" class="waves-effect waves-light btn" name="button">Update Venue</button>
          </form>

          <form action="/venue/delete/@venue.GetId()" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="waves-effect waves-light btn" name="button">Delete Venue</button>
          </form>
        </li>
    }
<button type="button" id="add-venue" class="waves-effect waves-light btn" name="button">Add Venue</button>
<div class="add-form">
  <form action="/" method="post">
    <input  class="band-input" type="text" name="venue-name" placeholder="Venue">
    <button type="submit" class="waves-effect waves-light btn" name="button">Submit</button>
  </form>
</div>
